/* This CSS stylesheet was created by Kin Kwan Leung on the 11th of September
   2021 for the personal website of Kin Kwan Leung.
   The main colours used by the website are as follows:
   Yellow: #FADA65, #CDAC50 and #C69C06
   Gray: #999999
   Dark blue: #1F2833 */

/* --- This is for the HTML tags themselves --- */

body { margin: 0; }

h1, h2, h3, h4, p { font-family: Arvo, serif; }
h1 { font-size: 26pt; }
h2 { font-size: 16pt; }
h3 { font-size: 14pt; }
h4 { font-size: 11pt; }
p { font-size: 10pt; }

input, a, button, .logo_button {
  cursor: pointer;
  font-family: Arvo, serif;
}

a {
  display: block;
  text-decoration: none;
  color: white;
}

th {
  text-align: left;
  padding-right: 30px;
  margin: 0;
}

td {
  text-align: left;
}

/* --- This is for the above fold section of the webpage --- */

#image_above_fold {
  width: 100vw;
  height: 100vh;
  filter: brightness(40%);
}

#home_link {
  position: absolute;
  top: 2vw;
  left: 2.5vw;
  font-size: 14pt;
  font-weight: bold;
  color: #FADA65;
}

#home_link:hover {
  color: white;
}

#banner_nav {
  position: absolute;
  top: 2vw;
  right: 0;
  margin: 0;
  padding: 0;
}

#banner_list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#banner_list li {
  display: inline;
}

.banner_links {
  display: inherit;
  margin-right: 3vw;
  font-size: 14pt;
  font-variant: small-caps;
  color: #FADA65;
}

.banner_links:hover {
  color: white;
}

#title_text_div {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#page_title {
  color: #FADA65;
  margin: 8px;
  font-size: 28pt;
}

#page_subtitle {
  color: white;
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

/* Exclusively for Main webpage */

#about_me_button {
  background-color: #FADA65;
  color: #1F2833;
  border: 0;
  border-radius: 12px;
  padding: 10px 22px;
  transition-duration: 0.5s;
  margin-top: 15px;
  font-size: 12pt;
}

#about_me_button:hover {
  border: 3px solid;
  border-color: #FADA65;
  background-color: white;
  margin-top: 30px;
}

#about_me_div {
  position: fixed;
  bottom: -85vh;
  height: 85vh;
  width: 100vw;
  background-color: #1F2833;
  transition-duration: 1.5s;
  z-index: 1;
  overflow: scroll;
}

#about_me_div.active {
  transform: translateY(-85vh);
}

#about_me_div.inactive {
  transform: translateY(85vh);
  transition-duration: 2s;
}

#chevron_button {
  position: absolute;
  top: 3.5vw;
  left: 50vw;
  z-index: 2;
  transform: translate(-50%, -50%);
  border: 0;
  background: 0;
}

#chevron_image {
  position: absolute;
  transform: translate(-50%, -50%);
  height: 25pt;
}

#about_me_content_div {
  position: relative;
  top: 8vh;
  left: 5vw;
  width: 90vw;
}

#profile_picture {
  height: 35vh;
  width: 35vh;
  border-radius: 50%;
  shape-outside: circle(50%);
  float: left;
  margin: 20pt;
}

#about_me_title {
  position: relative;
  left: 5vw;
  color: #FADA65;
}

#about_me_text {
  position: relative;
  left: 3vw;
  width: 85vw;
  font-family: "Open Sans", sans-serif;
  line-height: 25pt;
  color: white;
  text-align: justify;
}

/* Exclusively for CV webpage */

#cv_download_button {
  background-color: #FADA65;
  color: #1F2833;
  border: 0;
  border-radius: 12px;
  padding: 10px 22px;
  transition-duration: 0.5s;
  margin-top: 15px;
  display: inline-block;
}

#cv_download_button:hover {
  border: 3px solid;
  border-color: #FADA65;
  background-color: white;
  margin-top: 20px;
}

#cv_download_button_text {
  margin: 0;
  font-size: 12pt;
}

/* Exclusively for Contact Details webpage */

.contact_details_link {
  margin: auto;
  margin-top: 15pt;
  background-color: #FADA65;
  border-radius: 16px;
  width: 75%;
  vertical-align: center;
  transition-duration: 0.5s;
}

.contact_details_link:hover {
  background-color: white;
  border: 4pt solid;
  border-color: #FADA65;
}

.contact_details_icon {
  width: 35px;
  height: 35px;
  display: inline-block;
  vertical-align: middle;
}

.contact_details_text {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10pt;
  color: #1F2833;
}

/* Exclusively for Credits webpage */

#title_text_div_credits {
  position: absolute;
  left: 50%;
  top: 56%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#credits_table {
  border-spacing: 0 0;
  position: relative;
  top: 18pt;
  left: 45pt;
  overflow: hidden;
  white-space: nowrap;
}

.credits_names {
  color: #FADA65;
  font-size: 12pt;
}

.credits_names:hover {
  color: white;
}

.credits_information {
  color: white;
  margin: 8pt;
  font-size: 12pt;
}

.credits_information a {
  display: inline;
}

.credits_information a:hover {
  color: #FADA65;
}

/* --- This is for the central/main section of the webpage --- */

/* Exclusively for Main webpage */

#button_table {
  margin: auto;
  border-spacing: 20pt 14pt;
}

.main_button_div {
  position: relative;
}

.main_image {
  width: 36vw;
  height: 40vh;
  display: block;
  transition-duration: 1.2s;
}

.main_yellow_button {
  position: absolute;
  top: 0;
  left: 0;
  width: 36vw;
  height: 40vh;
  border: 0;
  background-color: rgba(198, 156, 6, 0.6);
  font-size: 20pt;
  color: white;
  transition-duration: 1.2s;
  text-align: center;
  line-height: 40vh;
  vertical-align: middle;
}

.main_gray_button {
  position: absolute;
  top: 0;
  left: 0;
  width: 36vw;
  height: 40vh;
  border: 0;
  background-color: rgba(153, 153, 153, 0.7);
  font-size: 20pt;
  color: white;
  transition-duration: 1.2s;
  text-align: center;
  line-height: 40vh;
  vertical-align: middle;
}

/* Transitions for Main webpage */

.main_button_left_line {
  position: absolute;
  top: 0;
  left: 0;
  height: 40vh;
  width: 3px;
  transition-duration: 1.2s;
  opacity: 0;
}

.main_button_top_line {
  position: absolute;
  top: 0;
  left: 0;
  height: 3px;
  width: 36vw;
  transition-duration: 1.2s;
  opacity: 0;
}

.main_button_right_line {
  position: absolute;
  top: 0;
  right: 0;
  height: 40vh;
  width: 3px;
  transition-duration: 1.2s;
  opacity: 0;
}

.main_button_bottom_line {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 36vw;
  transition-duration: 1.2s;
  opacity: 0;
}

.yellow_button_line { background-color: #C69C06; }

.gray_button_line { background-color: #999999; }

.main_button_div:hover .main_button_left_line {
  transform: translateX(35.8vw);
  opacity: 1;
}

.main_button_div:hover .main_button_top_line {
  transform: translateY(39.8vh);
  opacity: 1;
}

.main_button_div:hover .main_button_right_line {
  transform: translateX(-35.8vw);
  opacity: 1;
}

.main_button_div:hover .main_button_bottom_line {
  transform: translateY(-39.8vh);
  opacity: 1;
}

.main_button_div:hover .main_image {
  transform: scale(0.9, 0.9);
}

.main_button_div:hover .main_yellow_button {
  transform: scale(0.9, 0.9);
}

.main_button_div:hover .main_gray_button {
  transform: scale(0.9, 0.9);
}

/* Exclusively for CV webpage */

#cv_div {
  margin: auto;
  padding-top: 8vh;
  padding-bottom: 8vh;
  width: 65vw;
  height: 120vh;
}

/* Exclusively for Projects webpage */

#projects_table {
  width: 100vw;
  padding-top: 6vh;
  padding-bottom: 8vh;
}

.projects_table_cell {
  text-align: center;
  width: 50vw;
}

.project_div {
  border: solid 1pt;
  border-color: transparent;
}

.project_title_button {
  padding-top: 3vh;
  padding-left: 5vw;
  padding-right: 5vw;
  margin: 0;
  border: 0;
  background: 0;
}

.project_title_button:hover {
  text-decoration: underline;
  text-decoration-color: #CDAC50;
}

.project_title {
  font-size: 20pt;
  color: #CDAC50;
}

.project_title_unlinked {
  font-size: 20pt;
  color: #CDAC50;
  padding-top: 3vh;
  padding-left: 5vw;
  padding-right: 5vw;
}

.project_date {
  color: #999999;
  font-size: 13pt;
  margin-top: 0;
}

.project_images {
  height: 20vh;
}

.project_subtitle {
  color: #1F2833;
  line-height: 30px;
  margin-bottom: 0;
  padding-left: 7vw;
  padding-right: 7vw;
  font-size: 13pt;
}

.projects_download_button {
  background-color: #FADA65;
  color: #1F2833;
  border: 3px solid #FADA65;
  border-radius: 12px;
  padding: 10px 22px;
  transition-duration: 0.5s;
  margin-top: 2vh;
  margin-bottom: 2vh;
  display: inline-block;
}

.projects_download_button:hover {
  border: 3px solid #FADA65;
  background-color: white;
}

.projects_download_button_text {
  margin: 0;
  font-size: 12pt;
}

.projects_pdf_viewer {
  height: 0;
  transition-duration: 0.8s;
  text-align: center;
}

.projects_pdf_viewer embed { width: 70vw; }

.projects_pdf_viewer.active { height: 100vh; }

.projects_pdf_viewer.inactive { height: 0; }

.projects_separator {
  height: 2px;
  border-width: 0;
  background-color: #1F2833;
  width: 22vw;
}

#design_two_image {
  height: 23vh;
}

#individual_project_image {
  height: 15vh;
}

#design_four_image {
  height: 40vh;
}

/* --- This is for the footer of the webpage --- */

#footer_div {
  position: relative;
  width: 100vw;
  height: 200px;
  background-color: #1F2833;
}

#links_div {
  position: absolute;
  top: 0;
  left: 15%;
}

#links_title {
  color: white;
  margin-bottom: 15px;
  text-align: left;
}

#links_table {
  border-spacing: 40pt 5pt;
  margin-left: 0;
  border-left: 0;
}

.footer_links {
  font-size: 11pt;
  margin-bottom: 2px;
}

.footer_links:hover {
  color: #FADA65;
}

#logos_list_div {
  position: absolute;
  text-align: center;
  left: 50vw;
  bottom: 25px;
  transform: translate(-50%, -50%);
  display: flex;
}

.logo_button {
  padding: 8px;
  border-radius: 50%;
  border: 1pt solid white;
  margin-left: 5px;
  margin-right: 5px;
  width: 20px;
  height: 20px;
  transition-duration: 0.4s;
}

.logo_button:hover {
  background-color: #FADA65;
}

.social_media_icon {
  height: 20px;
  width: 20px;
  text-align: center;
  text-decoration: none;
}

#copyright_logo {
  position: absolute;
  text-align: center;
  left: 50vw;
  bottom: 0;
  color: white;
  transform: translate(-50%, -50%);
  margin-bottom: 3px;
  font-size: 9pt;
}
